Tuple

Collection of elements,which enclosed with paranthesis ().
Every element in the tuple object is represented with unique index.
Tuples are immutable.
it allows multiple duplicate elements.

tuple indexing :Fetching the specific element by using the index number.

In [2]:
Tuple1 = (1,2,3.3,"Rvr",True)           # Creating a tuple
Tuple1

(1, 2, 3.3, 'Rvr', True)

In [3]:
print(Tuple1[2])                       # tuple indexing position number 2

3.3

In [4]:
print(Tuple1[4])                       # indexing position number 4

True

tuple slicing operation we access the range of objects of List.
slicing operator colon (:) is used.

In [5]:
Tuple1

(1, 2, 3.3, 'Rvr', True)

In [7]:
print(Tuple1[0:4])                    # slicing the objects range of 0 to 4

(1, 2, 3.3, 'Rvr')

In [8]:
print(Tuple1[-1:-4:-2])              # slicing the objects in reverse direction

(True, 3.3)

tuple concatenation  : we can concatenate two or more tuples into single.
    "+" operator is used for concatenation.

In [9]:
Tuple1

(1, 2, 3.3, 'Rvr', True)

In [10]:
Tuple2 = (9,8,7.7,"Kumar",False)      # taking second tuple
Tuple2

(9, 8, 7.7, 'Kumar', False)

In [11]:
Tuple1+Tuple2                         # concatenating Tuple1 and Tuple2

(1, 2, 3.3, 'Rvr', True, 9, 8, 7.7, 'Kumar', False)

Tuples multiplication : python supports multiplying the given tuple into number of times."*" is used for multiplication.

In [12]:
Tuple1

(1, 2, 3.3, 'Rvr', True)

In [13]:
Tuple1* 3                             # multiplying the tuple with number 3

(1, 2, 3.3, 'Rvr', True, 1, 2, 3.3, 'Rvr', True, 1, 2, 3.3, 'Rvr', True)

Tuple Functions :

.len() : count the number of elements in the given tuples.

In [14]:
Tuple1

(1, 2, 3.3, 'Rvr', True)

In [15]:
len(Tuple1)                          # counting the number of elements

5

.count() : count number of occurences of a specific element.

In [20]:
Tuple3 = (1,1,1,2,2,2,3,3,3,3.5,23,3.5,6.6,6,6,6,9)      # creating tuple 3

In [21]:
Tuple3

(1, 1, 1, 2, 2, 2, 3, 3, 3, 3.5, 23, 3.5, 6.6, 6, 6, 6, 9)

In [22]:
Tuple3.count(6)                                          # counting the number of occurence of number 6

3

In [23]:
Tuple3.count(3)                                           # counting the number of occurence of number 3

3

In [24]:
Tuple3.count(3.5)                                          # counting the number of occurence of number 3.5

2

.sorted : sort the elements.

In [25]:
sorted(Tuple3)                                             # sorting the elements in tuple3

[1, 1, 1, 2, 2, 2, 3, 3, 3, 3.5, 3.5, 6, 6, 6, 6.6, 9, 23]

sum() : Function returns sum of all the elements.

In [27]:
sum(Tuple3)                                               # sum the all elements of tuple3

81.6

min() : This function finds the minimum value of given tuple.

In [28]:
Tuple3

(1, 1, 1, 2, 2, 2, 3, 3, 3, 3.5, 23, 3.5, 6.6, 6, 6, 6, 9)

In [29]:
min(Tuple3)                                              # minimum value in Tuple3

1

max() : This function finds the maximum value of given tuple.

In [30]:
max(Tuple3)                                              # maximum value in Tuple3

23

del() : This function will delete the entire tuple.

In [31]:
Tuple3

(1, 1, 1, 2, 2, 2, 3, 3, 3, 3.5, 23, 3.5, 6.6, 6, 6, 6, 9)

In [32]:
del(Tuple3)                                            # deleting the entire Tuple3

In [33]:
Tuple3

NameError: name 'Tuple3' is not defined